
data/.DS_Store
data/wiki-Living-Persons.zip
data/wiki-Living-Persons/wiki-Living-People-p0.json
data/wiki-Living-Persons/wiki-Living-People-p1.json
data/wiki-Living-Persons/wiki-Living-People-p10.json
data/wiki-Living-Persons/wiki-Living-People-p11.json
data/wiki-Living-Persons/wiki-Living-People-p12.json
data/wiki-Living-Persons/wiki-Living-People-p13.json
data/wiki-Living-Persons/wiki-Living-People-p14.json
data/wiki-Living-Persons/wiki-Living-People-p15.json
data/wiki-Living-Persons/wiki-Living-People-p16.json
data/wiki-Living-Persons/wiki-Living-People-p17.json
data/wiki-Living-Persons/wiki-Living-People-p18.json
data/wiki-Living-Persons/wiki-Living-People-p19.json
data/wiki-Living-Persons/wiki-Living-People-p2.json
data/wiki-Living-Persons/wiki-Living-People-p20.json
data/wiki-Living-Persons/wiki-Living-People-p21.json
data/wiki-Living-Persons/wiki-Living-People-p22.json
data/wiki-Living-Persons/wiki-Living-People-p23.json
data/wiki-Living-Persons/wiki-Living-People-p24.json
data/wiki-Living-Persons/wiki-Living-People-p25.json
data/wiki-Living-Persons/wiki-Living-People-p26.json
data/wiki-Living-Persons/wiki-Living-People-p27.json
data/wiki-Living-Persons/wiki-Living-People-p28.json
data/wiki-Living-Persons/wiki-Living-People-p29.json
data/wiki-Living-Persons/wiki-Living-People-p3.json
data/wiki-Living-Persons/wiki-Living-People-p30.json
data/wiki-Living-Persons/wiki-Living-People-p31.json
data/wiki-Living-Persons/wiki-Living-People-p32.json
data/wiki-Living-Persons/wiki-Living-People-p33.json
data/wiki-Living-Persons/wiki-Living-People-p34.json
data/wiki-Living-Persons/wiki-Living-People-p35.json
data/wiki-Living-Persons/wiki-Living-People-p36.json
data/wiki-Living-Persons/wiki-Living-People-p37.json
data/wiki-Living-Persons/wiki-Living-People-p38.json
data/wiki-Living-Persons/wiki-Living-People-p39.json
data/wiki-Living-Persons/wiki-Living-People-p4.json
data/wiki-Living-Persons/wiki-Living-People-p40.json
data/wiki-Living-Persons/wiki-Living-People-p41.json
data/wiki-Living-Persons/wiki-Living-People-p42.json
data/wiki-Living-Persons/wiki-Living-People-p43.json
data/wiki-Living-Persons/wiki-Living-People-p44.json
data/wiki-Living-Persons/wiki-Living-People-p45.json
data/wiki-Living-Persons/wiki-Living-People-p46.json
data/wiki-Living-Persons/wiki-Living-People-p47.json
data/wiki-Living-Persons/wiki-Living-People-p48.json
data/wiki-Living-Persons/wiki-Living-People-p49.json
data/wiki-Living-Persons/wiki-Living-People-p5.json
data/wiki-Living-Persons/wiki-Living-People-p50.json
data/wiki-Living-Persons/wiki-Living-People-p6.json
data/wiki-Living-Persons/wiki-Living-People-p7.json
data/wiki-Living-Persons/wiki-Living-People-p8.json
data/wiki-Living-Persons/wiki-Living-People-p9.json
stanford-corenlp-4.4.0/build.xml
stanford-corenlp-4.4.0/CoreNLP-to-HTML.xsl
stanford-corenlp-4.4.0/corenlp.sh
stanford-corenlp-4.4.0/ejml-core-0.39-sources.jar
stanford-corenlp-4.4.0/ejml-core-0.39.jar
stanford-corenlp-4.4.0/ejml-ddense-0.39-sources.jar
stanford-corenlp-4.4.0/ejml-ddense-0.39.jar
stanford-corenlp-4.4.0/ejml-simple-0.39-sources.jar
stanford-corenlp-4.4.0/ejml-simple-0.39.jar
stanford-corenlp-4.4.0/input.txt
stanford-corenlp-4.4.0/input.txt.out
stanford-corenlp-4.4.0/input.txt.xml
stanford-corenlp-4.4.0/istack-commons-runtime-3.0.7-sources.jar
stanford-corenlp-4.4.0/istack-commons-runtime-3.0.7.jar
stanford-corenlp-4.4.0/javax.activation-api-1.2.0-sources.jar
stanford-corenlp-4.4.0/javax.activation-api-1.2.0.jar
stanford-corenlp-4.4.0/javax.json-api-1.0-sources.jar
stanford-corenlp-4.4.0/javax.json.jar
stanford-corenlp-4.4.0/jaxb-api-2.4.0-b180830.0359-sources.jar
stanford-corenlp-4.4.0/jaxb-api-2.4.0-b180830.0359.jar
stanford-corenlp-4.4.0/jaxb-impl-2.4.0-b180830.0438-sources.jar
stanford-corenlp-4.4.0/jaxb-impl-2.4.0-b180830.0438.jar
stanford-corenlp-4.4.0/joda-time-2.10.5-sources.jar
stanford-corenlp-4.4.0/joda-time.jar
stanford-corenlp-4.4.0/jollyday-0.4.9-sources.jar
stanford-corenlp-4.4.0/jollyday.jar
stanford-corenlp-4.4.0/LIBRARY-LICENSES
stanford-corenlp-4.4.0/LICENSE.txt
stanford-corenlp-4.4.0/Makefile
stanford-corenlp-4.4.0/patterns/example.properties
stanford-corenlp-4.4.0/patterns/goldnames.txt
stanford-corenlp-4.4.0/patterns/goldplaces.txt
stanford-corenlp-4.4.0/patterns/names.txt
stanford-corenlp-4.4.0/patterns/otherpeople.txt
stanford-corenlp-4.4.0/patterns/places.txt
stanford-corenlp-4.4.0/patterns/presidents.txt
stanford-corenlp-4.4.0/patterns/stopwords.txt
stanford-corenlp-4.4.0/pom-java-11.xml
stanford-corenlp-4.4.0/pom-java-17.xml
stanford-corenlp-4.4.0/pom.xml
stanford-corenlp-4.4.0/protobuf-java-3.19.2.jar
stanford-corenlp-4.4.0/README.txt
stanford-corenlp-4.4.0/RESOURCE-LICENSES
stanford-corenlp-4.4.0/SemgrexDemo.java
stanford-corenlp-4.4.0/ShiftReduceDemo.java
stanford-corenlp-4.4.0/slf4j-api.jar
stanford-corenlp-4.4.0/slf4j-simple.jar
stanford-corenlp-4.4.0/stanford-corenlp-4.4.0-javadoc.jar
stanford-corenlp-4.4.0/stanford-corenlp-4.4.0-models.jar
stanford-corenlp-4.4.0/stanford-corenlp-4.4.0-sources.jar
stanford-corenlp-4.4.0/stanford-corenlp-4.4.0.jar
stanford-corenlp-4.4.0/StanfordCoreNlpDemo.java
stanford-corenlp-4.4.0/StanfordDependenciesManual.pdf
stanford-corenlp-4.4.0/sutime/british.sutime.txt
stanford-corenlp-4.4.0/sutime/defs.sutime.txt
stanford-corenlp-4.4.0/sutime/english.holidays.sutime.txt
stanford-corenlp-4.4.0/sutime/english.sutime.txt
stanford-corenlp-4.4.0/sutime/spanish.sutime.txt
stanford-corenlp-4.4.0/tokensregex/color.input.txt
stanford-corenlp-4.4.0/tokensregex/color.properties
stanford-corenlp-4.4.0/tokensregex/color.rules.txt
stanford-corenlp-4.4.0/tokensregex/retokenize.txt
stanford-corenlp-4.4.0/xom-1.3.7-sources.jar
stanford-corenlp-4.4.0/xom.jar
stanford-corenlp-latest.zip
